<br/>
<div class="span6 offset4 smurfy text-center">
	<h1 class="custom-h1">
		Hi I'm Matt.
	</h1>

	<h2>
		Having fun!!!
	</h2>

	<%= link_to 'Launch', '#', :class => 'btn btn-warning btn-large' %>

</div>
